.nat-var-container-fixed {
  position: sticky;
  background-color: white;
  z-index: 1;
  top: 0;
}

.main-body-acercademi {
  height: 600px;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acercademi-container {
  position: relative;
  bottom: 3rem;

  display: flex;

  justify-content: center;
  align-items: center;
  gap: 5em;
}
.img-acercademi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.img-acercademi {
  width: 15em;
  height: calc(15em * 1.2);
  user-select: none;
}
.acercademi-text-container {
  width: 30em;
  align-self: flex-start;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.acercademi-text {
  line-height: 1.5em;

  font-size: 0.95em;
  color: rgb(119, 107, 107);
  user-select: none;
}

.footer-nofixed {
  position: relative;
  background-color: #303c4e;
  width: 100%;
  height: 112px;
  font-size: 14px;
}

.white-line-footer-nofixed {
  display: flex;

  justify-content: end;
  align-items: flex-end;
  padding-bottom: 7px;
  padding-right: 40.8px;
  box-sizing: border-box;
}
.social-icons-container-nofixed {
  display: flex;
  gap: 1em;
}

.btn {
  align-items: center;
  background-color: #fff;
  border: 0.0625em solid rgb(229, 208, 208);
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #d65f37;
  cursor: pointer;
  display: flex;

  font-size: 1em;
  height: 2.5em;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  user-select: none;
}

.btn:active {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.btn:hover {
  border-color: #d65f37;
}
