.nat-var-container-fixed {
  position: fixed;
  background-color: white;
  z-index: 1;
}

.main-body-acercademi {
  position: relative;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.acercademi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.img-acercademi {
  width: 15em;
  height: calc(15em * 1.2);
}

.acercademi-text {
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  width: 35em;
  text-align: center;
}

.footer-nofixed {
  position: relative;

  background-color: #303c4e;
  width: 100%;
  height: 112px;
  font-size: 14px;
}

.white-line-footer-nofixed {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 7px;
  padding-right: 40.8px;
  box-sizing: border-box;
}
.social-icons-container-nofixed {
  display: flex;
  gap: 1em;
}
