.contact-modifier {
  align-items: flex-start;
  padding-top: 5em;
}
.form-contact-container {
  position: relative;
  bottom: 2rem;
  right: 4rem;
}
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.label-contact {
  display: inline-block;
  width: 10em;
  text-align: end;
  position: relative;
  right: 1em;

  color: rgb(119, 107, 107);
}
.input-contact {
  border: 0.0625em solid #d65f37;
  border-radius: 0.375em;
  height: 1.8em;
  color: rgb(119, 107, 107);
  font-size: 1em;
  width: 18em;

  outline: none;
}

.text-contact-container {
  display: flex;
  align-items: flex-start;
}
.label-contact-text {
  top: 0.5em;
}
.input-contact-text-wide-screen {
  position: relative;
  left: 0.3em;
  height: 6em;
  resize: none;

  font-family: Arial, Helvetica, sans-serif;
}

.btn-submit-container-wide-screen {
  align-self: center;
  position: relative;
  left: 5em;
}

.wrong-name {
  position: relative;
  max-width: 25em;
  top: 0.3em;

  bottom: 0;
  right: 0;
  left: 15em;

  font-size: 0.7em;

  color: #303c4e;
}
.wrong-email {
  position: relative;
  max-width: 25em;
  top: 0.3em;

  bottom: 0;
  right: 0;
  left: 15em;

  font-size: 0.7em;

  color: #303c4e;
}
.wrong-text {
  position: relative;
  max-width: 25em;
  top: -1em;

  bottom: 0;
  right: 0;
  left: 15em;

  font-size: 0.7em;

  color: #303c4e;
}
.top-btn-submit {
  position: relative;
  bottom: 1em;
}
.none {
  display: none;
}
.border-wrong {
  border: 0.1em solid #303c4e;
}
.error-container {
  text-align: center;
}

.error-text {
  color: #303c4e;
  position: relative;
  left: 5em;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.correct-container {
  text-align: center;
}
.correct-text {
  color: #d65f37;
  position: relative;
  left: 5em;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
