.contact-modifier {
  align-items: flex-start;
  padding-top: 5em;
}
.form-contact-container {
  position: relative;
  bottom: 2em;
}
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.label-contact {
  display: inline-block;
  width: 10em;
  text-align: end;
  position: relative;
  right: 1em;

  color: rgb(119, 107, 107);
}
.input-contact {
  border: 0.0625em solid #d65f37;
  border-radius: 0.375em;
  height: 1.8em;
  color: rgb(119, 107, 107);
  font-size: 1em;
  width: 18em;

  outline: none;
}

.text-contact-container {
  display: flex;
  align-items: flex-start;
}
.label-contact-text {
  top: 0.5em;
}
.input-contact-text-wide-screen {
  position: relative;
  left: 0.3em;
  height: 6em;

  font-family: Arial, Helvetica, sans-serif;
}
.input-contact-text-narrow-screen {
  height: 6em;

  font-family: Arial, Helvetica, sans-serif;
}

.btn-submit-container-wide-screen {
  align-self: center;
  position: relative;
  left: 5em;
}
.btn-submit-container-narrow-screen {
  align-self: center;
}
