@media (max-width: 1200px) {
  .main-body {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  .main-body {
    font-size: 16px;
  }
  .footer {
    font-size: 16px;
  }
  .nat-var-container {
    grid-template-areas:
      "titulo"
      "links";
    grid-template-columns: 1fr;
    grid-template-rows: 5em 12em;
  }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0em;
    padding-bottom: 0em;
    border-bottom: 0.15em solid #d65f37;
  }
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0em;
    padding-right: 0em;
    gap: 3em;
  }
  .grid-projects {
    grid-template-columns: 1 fr;
    grid-template-rows: 16.875em 15.75em 28.707em 16.875em 19.6875em 19.6875em;
    grid-template-areas:
      "atelier "
      "parque"
      "torre"
      "santiago"
      "corrientes"
      "uco";
  }
  .img-atelier-container {
    position: unset;
  }
  .img-ciudad-parque-container {
    position: unset;
  }

  .img-torre-dual-container {
    position: unset;
  }
  .img-santiago-container {
    position: unset;
  }
  .img-corrientes-container {
    position: unset;
  }

  .img-patio-de-uco-container {
    position: unset;
  }
}
