@media (min-width: 1400px) {
  .main-body {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .main-body {
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
  }
}

@media (max-width: 991.98px) {
  .main-body {
    font-size: 14px;

    padding-top: 6em;
    width: 100%;
  }
  .footer {
    font-size: 16px;
  }
  .nat-var-container {
    grid-template-areas:
      "titulo"
      "links";
    grid-template-columns: 1fr;
    grid-template-rows: 5em auto;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0em;
    padding-bottom: 0em;
  }
  .links-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0em;
    padding-right: 0em;
    gap: 3em;

    animation: slide-nav;
  }

  @keyframes slide-nav {
    from {
      transform: translatey(-100%);
    }
    to {
      transform: translatey(0%);
    }
  }
  .grid-projects {
    grid-template-columns: 1fr;
    grid-template-rows: 16.875em 16.875em 28.7072em 16.875em 19.6875em 19.6875em 26em;
    grid-template-areas:
      "atelier "
      "parque"
      "torre"
      "santiago"
      "corrientes"
      "uco"
      "termitiere";
    gap: 5em;
  }

  .img-text-common-properties {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .img-green-common-properties {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .img-common-properties {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .atelier-text {
    line-height: 10em;
  }

  .ciudad-parque-text {
    line-height: 10em;
  }

  .torre-dual-text {
    line-height: 18em;
  }

  .santiago-text {
    line-height: 10em;
  }

  .corrientes-text {
    line-height: 11.5em;
  }

  .patio-de-uco-text {
    line-height: 11.5em;
  }

  .termitiere-text {
    line-height: 16em;
  }
}
@media (max-width: 768px) {
  .loader {
    background-size: 40%;
  }
  .main-body {
    font-size: 12px;
  }
  .grid-projects {
    grid-template-rows: 16.875em 16.875em 28.7072em 16.875em 19.6875em 19.6875em 40em;
  }
  .social-icons-container {
    display: none;
  }
  .img-termitiere-green {
    bottom: 22em;
  }

  .termitiere-text {
    line-height: 11em;
  }
}
@media (max-width: 576px) {
  .main-body {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .main-body {
    font-size: 8px;
  }
}
@media (max-width: 350px) {
  .main-body {
    font-size: 6px;
  }
}
