@media (min-width: 1400px) {
  .main-body {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .main-body-projects {
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
  }
}

@media (max-width: 991.98px) {
  .main-body {
    font-size: 14px;
  }
  .main-body-projects {
    padding-top: 6em;
    width: 100%;
  }

  .footer {
    font-size: 16px;
  }
  .nat-var-container {
    display: block;
    overflow: hidden;
    position: relative;
  }

  .title-container {
    display: flex;

    justify-content: center;
    padding-left: 0em;

    box-sizing: border-box;
    padding-top: 1.8em;
    padding-bottom: 1.5em;
  }
  /* 
  .arrow {
    color: #d65f37;
    margin-left: 0.6em;
    margin-bottom: 0.3em;
    transition: transform 0.5s;
    cursor: pointer;
  }
  .arrow-rotate {
    transform: rotate(90deg);
  } */
  .btn-language-container {
    display: none;
  }
  #language-narrow-screen {
    display: block;
    position: absolute;
    top: 1.2em;
    right: 1em;
  }

  .links-container {
    display: block;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    text-align: center;
    height: 0;
    left: 0;
    transition: height 0.5s;
  }
  .links-container-height {
    height: 9.2em;
  }
  .normal-link {
    display: block;
    box-sizing: border-box;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
  .project-link {
    padding-top: 0.5em;
    padding-bottom: 1.1em;
  }
  .contact-link {
    display: block;
    box-sizing: border-box;
    padding-top: 1.1em;
  }

  .grid-projects {
    grid-template-columns: 1fr;
    grid-template-rows: 16.875em 16.875em 16.875em 16.3125em 28.7072em 16.875em 19.6875em 19.6875em 35em;
    grid-template-areas:
      "atelier"
      "parque"
      "edificio1"
      "edificio2"
      "torre"
      "santiago"
      "corrientes"
      "uco"
      "termitiere";
    gap: 5em;
  }

  .img-text-common-properties {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .img-green-common-properties {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .img-common-properties {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .atelier-text {
    line-height: 12em;
  }

  .ciudad-parque-text {
    line-height: 11.5em;
  }
  .edificio1-text {
    line-height: 11.5em;
  }
  .edificio2-text {
    line-height: 11.5em;
  }

  .torre-dual-text {
    line-height: 20em;
  }

  .santiago-text {
    line-height: 12em;
  }

  .corrientes-text {
    line-height: 13.5em;
  }

  .patio-de-uco-text {
    line-height: 13.5em;
  }
  .img-termitiere-green {
    bottom: 18em;
  }

  .termitiere-text {
    line-height: 12em;
  }
  .acercademi-container {
    flex-direction: column;
  }

  .acercademi-text-container {
    margin-top: 0;
    align-self: center;
  }
  .form-contact-container {
    right: 0;
  }
  .wrong-name {
    left: 0.5em;
  }
  .wrong-email {
    left: 0.5em;
  }
  .wrong-text {
    left: 0.5em;
  }
  .btn-submit-container-wide-screen {
    align-self: center;
    left: 0;
  }
  .input-contact-text-wide-screen {
    height: 6em;

    left: 0;
  }
  .label-contact {
    width: 0;
    overflow: hidden;
  }

  .text-contact-container {
    display: inline-block;
  }
  .form-contact-container {
    bottom: 3rem;
  }
  .error-text {
    left: 0;
    max-width: 18em;
  }
  .correct-text {
    left: 0;
  }
}
@media (max-width: 768px) {
  .loader {
    background-size: 40%;
  }

  .main-body {
    font-size: 12px;
  }

  .grid-projects {
    grid-template-rows: 16.875em 16.875em 16.875em 16.3125em 28.7072em 16.875em 19.6875em 19.6875em 40em;
  }
  .social-icons-container {
    display: none;
  }
  .img-termitiere-green {
    bottom: 22em;
  }

  .termitiere-text {
    line-height: 12.5em;
  }
  .form-contact {
    font-size: 14px;
  }
  .acercademi-text-container {
    font-size: 12px;
  }
  .project-detail-display-narrow {
    display: flex;
  }
  .project-detail-display-wide {
    display: none;
  }
  .grid-img {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .main-body {
    font-size: 10px;
  }

  .acercademi-text-container {
    width: 90%;
    font-size: 10px;
  }
  .input-contact {
    font-size: 1.3em;
  }
  .label_contact {
    font-size: 1.3em;
  }
  .form-contact {
    font-size: 10px;
  }
  .error-container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .main-body {
    font-size: 8px;
  }
  .nat-var-container {
    font-size: 14px;
  }
  .form-contact {
    font-size: 8px;
  }
}
@media (max-width: 350px) {
  .main-body {
    font-size: 6px;
  }
  .nat-var-container {
    font-size: 12px;
  }
  .acercademi-text-container {
    font-size: 8px;
  }
}
@media (max-width: 260px) {
  #language-narrow-screen {
    right: 0.2em;
  }
  .form-contact {
    font-size: 6px;
  }
}
