.project-detail-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  margin: 5em 0;
}
.project-detail-flex {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.grid-img {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 4em;
}
.imgs {
  width: 100%;
}
.imgs-right-container {
  align-self: center;
}
.imgs-right {
  width: 100%;
}
.project-detail-display-narrow {
  display: none;
}
