@import url(reset.css);

.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgb(255, 255, 255) url(/documentation/loader.gif) no-repeat center
    center;
  background-size: 20%;
}
html {
  scroll-behavior: smooth;
}
.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nat-var-container {
  width: 100%;

  border-bottom: 0.15em solid #d65f37;
  display: grid;
  grid-template-areas: "titulo links";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5em;
}
.title-container {
  grid-area: titulo;
  display: flex;
  align-items: flex-end;
  padding-left: 3em;
  padding-bottom: 1em;
}
h1 {
  color: #d65f37;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  user-select: none;
}
.links-container {
  grid-area: links;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-bottom: 1em;
  padding-right: 3em;
  gap: 3em;
}
.normal-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

  color: rgb(119, 107, 107);
  user-select: none;
}
.normal-link:hover {
  color: #d65f37;
  transition: 0.5s;
}

.contacto-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #d65f37;
  font-size: 1em;
  user-select: none;
}
.main-body {
  width: 80%;

  align-self: center;
  font-size: 14px;
}
.grid-projects {
  display: grid;
  grid-template-columns: 1 fr 1fr;
  grid-template-rows: 30em 30em 30em 30em;
  grid-template-areas:
    "atelier parque"
    "torre santiago"
    "corrientes uco"
    "termitiere termitiere";
}
/* img atelier */
.main-atelier {
  grid-area: atelier;
  position: relative;
}

.atelier-text {
  position: absolute;

  top: 8.8em;
  left: 8.3em;
}

.img-atelier-green {
  width: calc(8.4375em * 3);

  height: calc(5.625em * 3);
  position: absolute;
  top: 7em;
  left: 4em;
}
.transition--opacity--img {
  transition-duration: 0.5s;
}
.transition--opacity--green {
  transition-delay: 0.5s;
}
/* img atelier end */

/* img-ciudad-parque */

.main-ciudad-parque {
  grid-area: parque;
  position: relative;
}

.ciudad-parque-text {
  position: absolute;

  top: 12em;
  left: 8.7em;
}

.img-ciudad-parque-green {
  width: calc(11.8125em * 2.8);

  height: calc(5.625em * 2.8);
  position: absolute;
  top: 13em;

  left: 4em;
}
/* img-ciudad-parque-end */

/*img-torre-dual */
.main-torre-dual {
  grid-area: torre;
  position: relative;
}

.torre-dual-text {
  position: absolute;

  top: 8em;
  left: 7.1em;
}

.img-torre-dual-green {
  height: calc(8.971em * 3.2);

  width: calc(5.625em * 3.2);

  position: absolute;
  left: 7em;
}

/*img-torre-dual-end */

/* img-santiago */
.main-santiago {
  grid-area: santiago;
  position: relative;
}

.santiago-text {
  position: absolute;
  top: 8.3em;
  left: 5.8em;
}

.img-santiago-green {
  height: calc(5.625em * 3);

  width: calc(10.054em * 3);

  position: absolute;
  top: 6em;
  left: -2em;
}

/* img-santiago-end */

/* img-corrientes */
.main-corrientes {
  grid-area: corrientes;
  position: relative;
}

.corrientes-text {
  position: absolute;

  top: 11em;
  left: 8.1em;
}

.img-corrientes-green {
  width: calc(8.702em * 3.5);

  height: calc(5.625em * 3.5);
  position: absolute;
  top: 9.3125em;
  left: 3em;
}

/* img-corrientes-end */

/* img-patio-de-uco */
.main-patio-de-uco {
  grid-area: uco;
  position: relative;
}

.patio-de-uco-text {
  position: absolute;
  top: 5.8em;
  left: 9.1em;
}

.img-patio-de-uco-green {
  width: calc(8.306em * 3.5);

  height: calc(5.625em * 3.5);
  position: absolute;
  left: 6.2em;
}

/* img-patio-de-uco-end */

/* img-termitiere */
.main-termitiere {
  grid-area: termitiere;
  position: relative;
}

.termitiere-text {
  position: absolute;
  top: 3.5em;
  left: 31.5em;
}

.img-termitiere-green {
  width: calc(10em * 3.1);

  height: calc(5.625em * 3.1);
  position: absolute;
  left: 42em;
  top: -2rem;
}

.img-text-common-properties {
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
  z-index: 1;

  background-image: radial-gradient(
    circle at 69.29% 8.62%,
    #d5d569 0,
    #dac682 50%,
    #947a1d 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: none;
}
.img-common-properties {
  cursor: pointer;
  z-index: 0;
}

.img-green-common-properties {
  z-index: -1;
  background-image: radial-gradient(
    circle at 68.87% -1.84%,
    #636763 0,
    #5b605b 16.67%,
    #4f5851 33.33%,
    #404e45 50%,
    #31443a 66.67%,
    #243c33 83.33%,
    #19372e 100%
  );
  opacity: 0;
}

/* img-termitiere-end */

/* footer */
.footer {
  background-color: #303c4e;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: -2;
  height: 112px;
  font-size: 14px;
}
.white-line-footer {
  width: 100%;
  height: 84px;
  border-bottom: 4px solid white;
}
.social-icons-container {
  position: fixed;
  right: 40.8px;
  bottom: 35.8px;

  display: flex;

  gap: 1em;
  z-index: 0;
}
.social-icon {
  color: white;
  font-size: 1.2rem;
}

.social-icon:hover {
  background-image: radial-gradient(
    circle at 69.29% 8.62%,
    #d5d569 0,
    #dac682 50%,
    #947a1d 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* footer */
