@import url(reset.css);

/* paleta de colores:
   rojo:#d65f37
   azul:#303c4e*/

.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nat-var-container {
  width: 100%;

  border-bottom: 0.15em solid #d65f37;
  display: grid;
  grid-template-areas: "titulo links";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5em;
}
.title-container {
  grid-area: titulo;
  display: flex;
  align-items: flex-end;
  padding-left: 3em;
  padding-bottom: 1em;
}
h1 {
  color: #d65f37;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.links-container {
  grid-area: links;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-bottom: 1em;
  padding-right: 3em;
  gap: 3em;
}
.normal-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

  color: rgb(119, 107, 107);
}
.normal-link:hover {
  color: #d65f37;
  transition: 0.5s;
}

.contacto-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #d65f37;
  font-size: 1em;
}
.main-body {
  width: 80%;

  align-self: center;
  font-size: 14px;
}
.grid-projects {
  display: grid;
  grid-template-columns: 1 fr 1fr;
  grid-template-rows: 30em 30em 30em 30em;
  grid-template-areas:
    "atelier parque"
    "torre santiago"
    "corrientes uco"
    "termitiere termitiere";
}

.main-atelier {
  grid-area: atelier;
  position: relative;
  z-index: 0;
}
.img-atelier-container {
  /* cursor: pointer; */

  width: calc(8.4375em * 3);

  height: calc(5.625em * 3);
  position: absolute;
  top: 7em;
  left: 4em;
  z-index: -1;
  background-image: radial-gradient(
    circle at 68.87% -1.84%,
    #636763 0,
    #5b605b 16.67%,
    #4f5851 33.33%,
    #404e45 50%,
    #31443a 66.67%,
    #243c33 83.33%,
    #19372e 100%
  );
}

.main-img-atelier {
  position: absolute;
  top: 7em;
  left: 4em;
  cursor: pointer;
  width: calc(8.4375em * 3);

  height: calc(5.625em * 3);
  /* position: relative; */
  z-index: 0;
}
/* .main-img-atelier:hover {
  opacity: 0.5;
  transition: 0.4s;
} */

.main-ciudad-parque {
  grid-area: parque;
  position: relative;
}

.img-ciudad-parque-container {
  cursor: pointer;

  width: calc(11.8125em * 2.8);

  height: calc(5.625em * 2.8);
  position: absolute;
  top: 13em;

  left: 4em;
}
.img-ciudad-parque-container {
  background-color: rgb(39, 72, 39);
  transition: 0.4s;
}
.main-img-ciudad-parque {
  width: calc(11.8125em * 2.8);

  height: calc(5.625em * 2.8);
}
.main-img-ciudad-parque:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.main-torre-dual {
  grid-area: torre;
  position: relative;
}
.img-torre-dual-container {
  cursor: pointer;

  height: calc(8.971em * 3.2);

  width: calc(5.625em * 3.2);
  cursor: pointer;
  position: absolute;
  left: 7em;
}
.img-torre-dual-container:hover {
  background-color: rgb(39, 72, 39);
  transition: 0.4s;
}

.main-img-torre-dual {
  height: calc(8.971em * 3.2);

  width: calc(5.625em * 3.2);
}
.main-img-torre-dual:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.main-santiago {
  grid-area: santiago;
  position: relative;
}
.img-santiago-container {
  height: calc(5.625em * 3);

  width: calc(10.054em * 3);
  position: absolute;
  top: 6em;
  left: -2em;
  cursor: pointer;
}
.img-santiago-container:hover {
  background-color: rgb(39, 72, 39);
  transition: 0.4s;
}
.main-img-santiago {
  height: calc(5.625em * 3);

  width: calc(10.054em * 3);
}
.main-img-santiago:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.main-corrientes {
  grid-area: corrientes;
  position: relative;
}
.img-corrientes-container {
  cursor: pointer;

  width: calc(8.702em * 3.5);

  height: calc(5.625em * 3.5);
  position: absolute;
  top: 9.3125em;
  left: 3em;
}
.img-corrientes-container:hover {
  background-color: rgb(39, 72, 39);
  transition: 0.4s;
}
.main-img-corrientes {
  width: calc(8.702em * 3.5);

  height: calc(5.625em * 3.5);
}
.main-img-corrientes:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.main-patio-de-uco {
  grid-area: uco;
  position: relative;
}
.img-patio-de-uco-container {
  cursor: pointer;

  width: calc(8.306em * 3.5);

  height: calc(5.625em * 3.5);
  position: absolute;
  left: 6.2em;
}
.img-patio-de-uco-container:hover {
  background-color: rgb(39, 72, 39);
  transition: 0.4s;
}

.main-img-patio-de-uco {
  width: calc(8.306em * 3.5);

  height: calc(5.625em * 3.5);
}
.main-img-patio-de-uco:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.main-termitiere {
  grid-area: termitiere;
  position: relative;
}
.img-termitiere-container {
  cursor: pointer;

  width: calc(10em * 3.1);

  height: calc(5.625em * 3.1);
  position: absolute;
  left: 42em;
  top: -2rem;
}
.img-termitiere-container:hover {
  background-color: #303c4e;
}

.main-img-termitiere {
  width: calc(10em * 3.1);

  height: calc(5.625em * 3.1);
}
.main-img-termitiere:hover {
  opacity: 0.5;
}
.footer {
  background-color: #303c4e;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: -1;

  height: 8em;
  /* margin-top: -26em; */
  /* display: flex;
  justify-content: end;
  align-items: flex-end; */
  font-size: 14px;
}
.white-line-footer {
  width: 100%;
  height: 6em;
  border-bottom: 4px solid white;
}
.social-icons-container {
  display: flex;
  margin-bottom: 12em;
  margin-right: 9em;
  gap: 1.5rem;
  z-index: 0;
}
.social-icon {
  color: whitesmoke;
  font-size: 2rem;
}
.social-icon:hover {
  font-size: 2.03rem;
}
.atelier-text {
  position: absolute;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  top: calc(50%);
  left: calc(35%);
  z-index: 1;

  background-image: radial-gradient(
    circle at 69.29% 8.62%,
    #d5d569 0,
    #dac682 50%,
    #947a1d 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 10;
  display: none;
}
.transparent {
  z-index: 2;
  background-color: transparent;
  position: absolute;
  top: 7em;
  left: 4em;
  width: calc(8.4375em * 3);

  height: calc(5.625em * 3);
  cursor: pointer;
}

/* .atelier-text-container {
  position: absolute;
  top: calc(45%);
  left: calc(30%);
  z-index: 1;
  width: 10em;
  height: 5em;
} */

/* background-image: radial-gradient(
    circle at 50% -20.71%,
    #85cd00 0,
    #abd800 16.67%,
    #ffff5f 33.33%,
    #f2f23c 50%,
    #cfe503 66.67%,
    #abd800 83.33%,
    #85cd00 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  display: none;
} */
